@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.parallax {
  margin-top: 4rem;
  height: 100vh;
  padding: 10px;
  overflow: hidden;
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/19/22/52/coding-1841550_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  width: 100vw;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parallax-text {
  color: #ffec78;
  font-family: "Black Ops One", cursive;
  font-size: 3.5rem;
  padding: 10px;
}

.about-parent {
  display: flex;
}
.about-text {
  font-family: "Bellefair", serif;
}
.about-text p {
  font-size: 20px;
}
#aboutHeading {
  font-family: "Jockey One", sans-serif;
}
