@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-section {
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-card {
  justify-content: center;
  text-align: center;

  width: auto;
}
.contact-heading {
  width: 100%;
}
.heading {
  font-family: "Jockey One", sans-serif;
  text-align: left;
  margin-top: 10px;
  width: 90%;
}
.contact-form {
  padding: 40px;
  margin: 10px;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #f2709c, #ff9472);
}
.contact-form:hover {
  background-color: #fdc500;
}
.contact-field {
  flex: 1;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 15px;
  padding: 15px;
  font-size: 18px;
}
#form-name {
  width: 100%;
}
#form-email {
  width: 100%;
}
#form-message {
  width: 100%;
  margin-bottom: 10px;
}
#submit-btn {
  padding: 10px;
  margin-top: 15px;
  width: 100px;
  border-radius: 5px;
  background-color: #f25f5c;
  border: none;
}
#submit-btn:hover {
  cursor: pointer;
  background-color: #2eff13;
}

.heading {
  font-family: "Jockey One", sans-serif;
}
@media only screen and (max-width: 567px) {
  #form-name,
  #form-email,
  #form-message {
    width: 100%;
  }
}
