@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.skills-parent {
  padding: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#skillHeading {
  font-family: "Jockey One", sans-serif;
  text-align: left;
  margin-top: 10px;
  width: 90%;
}
